.div1 {
    border: 5px outset red;
    background-color: lightblue;
    text-align: center;}
  
  .div2 {
    border: 5px dotted green;
    background-color: yellow;
    text-align: right;
    width: 30%;
  }
  
  .div2 > .div3{
    border: 5px dotted green;
    background-color: yellow;
    text-align: right;
    width: 30%;
  }
  
  .div4 {
    height:50px;
    border: 75px solid;
    border-color: #f00 #0f0 #00f #fc0;
  }